<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Students</h1>
        <form action="{{ url_for('add_student') }}" method="post">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <input type="submit" value="Add Student">
        </form>
        <ul>
            {% for student in students %}
                <li>{{ student[1] }} {{ student[2] }} - {{ student[3] }}
                    <form action="{{ url_for('delete_student', student_id=student[0]) }}" method="post" class="inline">
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>
